{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O'rganish - DevStep</title>
    <link rel="website icon" type="png" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <a href="{% url 'main' %}" class="logo">
                <img src="{% static 'img/logo.svg' %}" alt="DevStep Logo">
            </a>

            <nav class="header-nav">
                <a href="{% url 'main' %}">Asosiy</a>
                <a href="{% url 'videos' %}">O'rganish</a>
                <a href="{% url 'direction_list' %}">Vazifalar</a>
                <a href="{% url 'shop' %}">Shop</a>
            </nav>
            <a href="{% url 'logout' %}" class="post-button">Chiqish</a>

            <div class="header-right">

                <!-- Burger icon -->
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>


                </div>
            </div>
        </div>
    </header>
    <main class="container content">
        <h2>Yo'nalishlar</h2>
        <div class="card-container">
            {% for direction in directions %}
            <div class="card">
                <h3>{{ direction.name }}</h3>
                <p>{{ direction.description }}</p>
                <a href="{% url 'month_list' direction.id %}" class="button">Ko'rish</a>
            </div>
            {% endfor %}
        </div>
    </main>

</body>
<script>
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('.header-nav');

    burger.addEventListener('click', () => {
        burger.classList.toggle('active');
        nav.classList.toggle('active');
    });
</script>

</html>