{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darslar- DevStep</title>
    <link rel="website icon" type="png" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="header">
        <div class="header-logo">
            <a href="{% url 'main' %}">
                <img src="{% static 'img/logo2.svg' %}" alt="">

            </a>

        </div>
        <div class="header-nav">
            <a href="{% url 'main' %}">Asosiy</a>
            <a href="{% url 'videos' %}">O'rganish</a>
            <a href="{% url 'direction_list' %}">Vazifalar</a>
            <a href="{% url 'shop' %}">Shop</a>
        </div>
        <a class="post-button" href="{% url 'logout' %}">Chiqish</a>
    </div>
    <main class="container content">
        <h2>{{ month.name }} - Darslar</h2>
        <div class="card-container">
            {% for lesson in lessons %}
            <div class="card">
                <h3>{{ lesson.title }}</h3>
                <p>{{ lesson.description }}</p>
                <a href="{% url 'lesson_detail' direction.id month.id lesson.id %}" class="button">Batafsil</a>


            </div>
            {% endfor %}
        </div>
    </main>
</body>

</html>